<p>Student ID {{product.productid}}</p>

<section class="container">
  <div class="card" style="width: 18rem;">
    <img src="{{product.photos}}" class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text">{{product.productid}}</p>
      <h1 class="card-text">{{product.productname}}</h1>
      <h1 class="card-text">{{product.productbrand}}</h1>
      <h1 class="card-text">{{product.productcategory}}</h1>
      <h1 class="card-text">{{product.productunitprice}}</h1>
      <p class="card-text">{{product.productstock}}</p>
    </div>
  </div>
  <a routerLink='/showallstudents'>CardPage</a>
</section>