<!-- ----------------------------------- navbar ------------------------- -->
<header>

  <nav class="navbar navbar-expand-md bg-danger navbar-dark"
    style="background-image: url('https://images.rawpixel.com/image_800/cHJpdmF0ZS9sci9pbWFnZXMvd2Vic2l0ZS8yMDIyLTA1L2ZsMjM0MTcwNjg4MTItaW1hZ2Uta3FhcDlyZHcuanBn.jpg');">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon ">
          <i class="fa-solid fa-bars" style="color: rgb(239, 235, 243); font-size: 30px;"></i>
        </span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav m-auto mb-2 mb-lg-0">
          <h1 class="fw-bolder display-5 text-light">Admin Page</h1>
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-1" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success text-light" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>

</header>
